{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}

{% block content %}
{% include 'inc/ask_styles.html' %}
 <div align="left" class="ml-5 mt-5"><h1>Новый вопрос</h1></div>

<div class="input1">
    <form class = "form" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary" name="ask" value="ask">Спросить!</button>
        <button type="submit" class="btn btn-primary">Добавить тег</button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}
{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}