{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ask Dota</title>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>

{% include 'inc/navbar_non_register.html' %}

{% block content %}{% endblock content %}

{% include 'inc/right_menu.html' %}

<script src="{% static '/js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>