{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ask Dota</title>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>

  {% block navbar %}{% endblock navbar %}

{% block content %}{% endblock content %}

{% block tegs %}{% endblock tegs %}
{% include 'inc/right_menu.html' %}

<script src="{% static '/js/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
  </script>
  <script>
    $('#like').click(function() {
        $.ajax({
            url: 'http://127.0.0.1:8000/like_ajax/{{ question.id }}/ajax',
            type: 'post',
            success: function (data) {
              $('#like').empty();
              $('#like').append( data.likes_count,'👍');
            },
            failure: function (data) {
              alert('error');
            }
        });
    });
    $('#dislike').click(function() {
      $.ajax({
        url: 'http://127.0.0.1:8000/dislike_ajax/{{ question.id }}/ajax',
        type: 'post',
        success: function (data) {
          $('#dislike').empty();
          $('#dislike').append( data.dislikes_count,'👎');
        },
        failure: function (data) {
          alert('error');
        }
      });
    });
  </script>
</body>
</html>