{% extends 'base.html' %}
{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}
{% block content %}
 <div align="left" class="ml-5 mt-2"><h1>Тег:<a href="#" class="ml-3">{{ tag }}</a></h1></div>
{% for question in questions %}
    {% for tg in teg_question %}
        {% if tg.tegID.title == tag and tg.questionID.id == question.id %}
            {% include 'inc/question.html' %}
        {% endif %}
    {% endfor %}
{% endfor %}  
	{% include 'inc/paginator.html' %}
{% endblock content %}
{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}