{% extends 'base.html' %}
{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}
{% block content %}
   <div align="left" class="ml-5 mt-2"><h1>{{ word }} вопросы</h1></div>
{% for question in questions %}
    {% include 'inc/question.html' %}
{% endfor %}
{% include 'inc/paginator.html' %}
{% endblock content %}
{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}

