{% extends 'base.html' %}
{% load bootstrap4 %}
{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}
 {% block content %}
 {% include 'inc/login_styles.html' %}
 <div align="left" class="ml-5 mt-5"><h1>Авторизация</h1></div>
 {% if Warning == '1' %}
 <div class="error"><h6 class="text-danger" href="#">Неверный логин или пароль</h6></div>
{% endif %}

  <div class="input1">
 <form class = "form" method="POST">
     {% csrf_token %}
    {% bootstrap_form form %}
     {% buttons %}
     <button type="submit" class="btn btn-primary">Войти</button>
     {% endbuttons %}
</form>
</div>
<div class="error mb-5"><a class="text-primary" href="{% url 'signup' %}">Создать новый аккаунт</a></div>
{% endblock content %}
{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}

