{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}
{% block content %}

	<style>
   .question {
    float: left; /* Обтекание по правому краю */
    padding: 10px; /* Поля вокруг текста */
    margin-left: 10%; /* Отступ справа */
    margin-top: 40px;
    border-bottom: 1px;
    width: 40%; /* Ширина блока */
    clear: both;
   }
  </style>
  <style>
   .pages {
    float: left; /* Обтекание по правому краю */
    margin-left: 10%; /* Отступ справа */
    margin-top: 20px;
    width: 40%; /* Ширина блока */
    clear: left;
   }
  </style>
  <style>
   hr {
    float: left; /* Обтекание по правому краю */
    border: none; /* Убираем границу */
    background-color: #000000; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    clear: both;
    width: 50%; /* Ширина блока */
    margin-left: 5%;
    margin-top: 40px
   }
 </style>
 <div class="question">
      <div class="container mt-2 border-bottom border-dark">
        <div class="media">
          <img src="{% static 'img/'%}{{ question.profileID.avatar }}" width="64" height="64" class="mr-1">
          <div class="media-body">
            <a href="#"><h5 class="mt text-primary">{{ question.title }}</h5></a>
            {{ question.body }}
          </div>
        </div>
        <form>
            <div class="mt-2"><a id="like" href="#" class="badge badge-success">{{likes_count}}👍</a>
            <a id="dislike" href="#" class="badge badge-danger">{{dislikes_count}} 👎</a>
            <div class="ml-3 mt-2">Тэги:
                {% for tq in teg_question %}
                     <a href="{% url 'index_tags' tag=tq.tegID.title %}" class="ml-2">{{ tq.tegID.title }} </a>
                {% endfor %}
            <div class="mr-3"></div>
            Автор:<a href="#" class="ml-3 mr-5">{{ question.profileID.nickname }}</a></div>
            <small><p class="text-secondary mt-2">{{ question.add_date }}</p></small>
          </div>
        </form>
      </div>
    </div>
	{% for answer in answers %}
        {% include 'inc/answer.html' %}
	{% endfor %}
    {% include 'inc/paginator.html' %}
	<div class="pages">
        {% if warning == '1' %}
        <div class="error"><h6 class="text-danger" href="#">Вы не зарегистрированы!</h6></div>
        {% endif %}
        <form class = "form" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Ответить!</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}

{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}
