{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}
 {% block content %}
 {% include 'inc/settings_styles.html' %}
 <div align="left" class="ml-5 mt-5"><h1>Настройки</h1></div>

  <div class="input1">
 <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Логин</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Никнейм</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <label for="exampleInputPassword1">Аватар</label>
  <div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile">
    <div class="media mt-2">
        <img src="{% static '/img/64x64.jpg' %}" width="64" height="64" class="mr-1 ml-1"> </div>
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>
  <button type="submit" class="btn btn-primary mt-3"><a class = "text-light" href = "{% url 'index' %}">Сохранить</a></button>
</form>
</div>
 {% endblock content %}
{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}
