{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}
 {% block content %}
  {% include 'inc/signup_styles.html' %}
 <div align="left" class="ml-5 mt-5"><h1>Регистрация</h1></div>
{% if warning == '1' %}
 <div class="error"><h6 class="text-danger" href="#">Такой nickname уже существует</h6></div>
{% endif %}

  <div class="input1">
      <form class = "form" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary">Создать!</button>
          {% endbuttons %}
      </form>
</div>
{% endblock content %}
{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}
