{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
{% include 'inc/navbar.html' %}
{% endblock navbar %}

{% block content %}
{% include 'inc/ask_styles.html' %}
<div align="left" class="ml-5 mt-5"><h1>Новый вопрос(Добавление тега)</h1></div>
{% if warning == '1' %}
<div class="error mt-5 ml-5"><h6 class="text-danger" href="#">Нельзя добавлять одинаковые теги!</h6></div>
{% endif %}
<div class="input1">
    <form class = "form" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary" name="ask" value="ask">Спросить!</button>
        <button type="submit" class="btn btn-primary" name="teg" value="teg">Добавить еще тег!</button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}
{% block tegs %}
{% include 'inc/tegs.html' %}
{% endblock tegs %}