{% load static %}
<style>
   .answer {
    float: left; /* Обтекание по правому краю */
    padding: 10px; /* Поля вокруг текста */
    margin-left: 15%; /* Отступ справа */
    margin-top: 40px;
    width: 40%; /* Ширина блока */
    outline: 2px solid #000000;
    clear: both;
   }
  </style>
<div class="answer">
      <div class="container mt-2">
        <div class="media">
          <img src="{% static 'img/' %}{{ answer.profileID.avatar }}" width="64" height="64" class="mr-1">
          <div class="media-body">
            {{ answer.body }}
          </div>
        </div>
        <form>
          <div class="mt-2"><a href="#" class="badge badge-secondary">
            {% for like in likes_answers %}
            {% if like.id == answer.id %}
            {{ like.count }}
            {% endif %}
            {% endfor %} 👍</a>
            <a href="#" class="badge badge-secondary mr-3">
              {% for like in dislikes_answers %}
                {% if like.id == answer.id %}
                  {{ like.count }}
                {% endif %}
              {% endfor %}
              👎</a>
            Рейтинг:{% for r in rate %}
            {% if r.id == answer.id %}
            {{ r.rate }}
            {% endif %}
            {% endfor %}
            Автор:<a href="#" class="ml-3 mr-5">{{ answer.profileID.nickname }}</a></div>
            <small><p class="text-secondary mt-2">{{ answer.add_date }}</p></small>
          </div>
            {% if answer.correct  %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
              <label class="form-check-label" for="defaultCheck1">
                Correct
              </label>
            </div>
            {% else %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                   Correct
                </label>
            </div>
            {% endif %}
        </form>
      </div>
    </div>
