<style>
   .wrap { 
    width: 25%; /* Ширина */
    outline: 2px solid #c0c0c0; /* Чёрная рамка */
    float: both;
   }
</style>
  <style>
   .input1 {
    float: left; /* Обтекание по правому краю */
    margin-left: 10%; /* Отступ справа */
    margin-top: 40px;
    width: 20%; /* Ширина блока */
    clear: both;
   }
  </style>
  <style>
   .error {
    float: left; /* Обтекание по правому краю */
    margin-left: 10%; /* Отступ справа */
    margin-top: 20px;
    width: 15%; /* Ширина блока */
    clear: both;
   }
  </style>