{% load static %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand text-light" href="{% url 'index' %}">
  <p><h1>Ask Dota</h1> </p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline my-2 my-lg-2">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0 text-light" type="submit">Ask!</button>
    </form>
  </div>

      {% if authterized == '1' %}
<div align="left">
  <div class="container mt-2">
  <div class="row mr-5">
    <div class="col-8">
      <div class="media">
        <img src="{% static 'img/' %}{{profile.avatar}}" width="64" height="64" class="mr-1">
  <div class="media-body">
    <h5 class="mt text-light">{{ profile.nickname }}</h5>
    <a class="text-light" href="{% url 'ask' %}">Спросить</a>
    <a class="text-light" href="{% url 'settings' %}">Настройки</a>
    <a class="text-light" href="{% url 'logout' %}">Выйти</a>
  </div>
</div>
</div>
</div>
</div>
</div>
      {% else %}
      <div align="left">
        <div class="container mt-2">
          <div class="row mr-5">
            <div class="col-8">
              <div class="media-body">
                <a class="text-light" href="{% url 'login' %}">Войти</a>
                <a class="text-light" href="{% url 'signup' %}">Зарегистрироваться</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
</nav>
