{% load static %}


<style>
   .question {
    float: left; /* Обтекание по правому краю */
    padding: 10px; /* Поля вокруг текста */
    margin-left: 15%; /* Отступ справа */
    margin-top: 40px;
    width: 40%; /* Ширина блока */
    outline: 2px solid #000000;
    clear: both;
   }
  </style>
  <style>
   .pages {
    float: left; /* Обтекание по правому краю */
    margin-left: 10%; /* Отступ справа */
    margin-top: 40px;
    width: 50%; /* Ширина блока */
    clear: left;
   }
  </style>
  <style>
   .answer {
    float: left; /* Обтекание по правому краю */
    padding: 10px; /* Поля вокруг текста */
    margin-left: 15%; /* Отступ справа */
    margin-top: 40px;
    width: 40%; /* Ширина блока */
    outline: 2px solid #000000;
    clear: both;
   }
  </style>


<div class="question">
      <div class="container mt-2">
        <div class="media">
          <img src="{% static 'img/' %}{{question.profileID.avatar}}" width="64" height="64" class="mr-1">
          <div class="media-body">
            <a href="{% url 'question' qid=question.id %}"><h5 class="mt text-primary">{{ question.title }}</h5></a>
            {{ question.body }}
          </div>
        </div>

        <form>
          <div class="mt-2"><a href="#" class="badge badge-secondary">
            {% for like in likes %}
            {% if like.id == question.id %}
            {{ like.count }}
            {% endif %}
            {% endfor %}👍</a>
            <a href="#" class="badge badge-secondary">
              {% for dislike in dislikes %}
              {% if dislike.id == question.id %}
              {{ dislike.count }}
              {% endif %}
              {% endfor %}👎</a>
            {% for rate in rates %}
              {% if rate.id == question.id %}
                рейтинг {{ rate.rate }}
              {% endif %}
            {% endfor %}
            <a href="{% url 'question' qid=question.id %}" class="ml-3">answers(
                  {% for ans_count in answer_count %}
                    {% if ans_count.id == question.id %}
                      {{ ans_count.count }}
                    {% endif %}
                  {% endfor %}
              )</a>
            <div class="ml-3 mt-2">
              Тэги:
              {% for tq in teg_question %}
                {% if tq.questionID.id == question.id %}
                  <a href="{% url 'index_tags' tag=tq.tegID.title %}" class="ml-2">{{ tq.tegID.title }} </a>
                {% endif %}
              {% endfor %}
              <div class="mr-3"></div>
              Автор:<a href="#" class="ml-3 mr-5">{{ question.profileID.nickname }}</a></div>
            <small><p class="text-secondary mt-2">{{ question.add_date }}</p></small>
          </div>
        </form>
      </div>
    </div>