{% load static %}

<style>
   .wrap { 
    width: 25%; /* Ширина */
    outline: 2px solid #c0c0c0; /* Чёрная рамка */
   }
</style>

  <div align="right">
  <div class="wrap">
  <div class="container mt-5 mr-5 bg-dark">
    <div align="center">
    <h1 class="text-light">Лучшие юзеры</h1>
    </div>
    <div align="center">
      <big class="text-light">Erik_doter<br></big>
	<big class="text-light">Dispirato<br></big>
      <big class="text-light">Lolekon<br></big>
      <big class="text-light">Hiphopomepte<br></big>
    </div>
  </div>
</div>
</div>
