<style>
   .input1 {
    float: left; /* Обтекание по правому краю */
    margin-left: 10%; /* Отступ справа */
    margin-top: 40px;
    width: 20%; /* Ширина блока */
    clear: both;
   }
  </style>
  <style>
   .error {
    float: left; /* Обтекание по правому краю */
    margin-left: 10%; /* Отступ справа */
    margin-top: 20px;
    width: 15%; /* Ширина блока */
    clear: both;
   }
  </style>