{% load static %}
<style>
    .wrap {
        width: 25%; /* Ширина */
        outline: 2px solid #c0c0c0; /* Чёрная рамка */
    }
</style>
<div align="right">
    <div class="wrap">
        <div class="container mt-5 mr-5 bg-dark">
            <div align="center">
                <h1 class="text-light">Популярные Теги</h1>
                <table border=0 width=25%>
                    {% for p in popular_tegs %}
                    <tr>
                        <td align=center><a class="text-light ml-1 mr-1" href="{% url 'index_tags' tag=p.name %}"><big>{{ p.name }}</big></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>